// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

body{
	background-color: white;
}

.main-link{
    display: table-cell;	
}

.main-link > a{
	color: black;
}

.main-link > a{
	color: darkblue;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.site-name > a > span{
	color: darkgoldenrod;
}

.l-header > .l-branding > a > img{
	display: none;
}

.breadcrumb{
	color: darkblue;
}

.breadcrumb > span{
	color: black;
}	

.announcement > h2{
	color: darkgoldenrod;
}

body > div.l-page.has-two-sidebars.has-sidebar-first.has-sidebar-second > div > div > div.contextual-links-region > div.panel-flexible.panels-flexible-3.clearfix > div > div.panels-flexible-row.panels-flexible-row-3-main-row.panels-flexible-row-last.clearfix > div > div > div > div > h2{
	color: darkgoldenrod;
}

body > div.l-page.has-two-sidebars.has-sidebar-first.has-sidebar-second > div > div > h1{
	color: goldenrod;
}

#block-system-navigation > h2 {
	color: darkgoldenrod;
}

.main-nav > .main-link > a {
  border-radius: 25px;
  border: 2px solid darkgoldenrod;
  padding: 2px;
}
