/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 24, ../sass/subtheme-sample.styles.scss */
body {
  background-color: white; }

/* line 28, ../sass/subtheme-sample.styles.scss */
.main-link {
  display: table-cell; }

/* line 32, ../sass/subtheme-sample.styles.scss */
.main-link > a {
  color: black; }

/* line 36, ../sass/subtheme-sample.styles.scss */
.main-link > a {
  color: darkblue; }

/* line 42, ../sass/subtheme-sample.styles.scss */
a:link {
  text-decoration: none; }

/* line 46, ../sass/subtheme-sample.styles.scss */
a:visited {
  text-decoration: none; }

/* line 50, ../sass/subtheme-sample.styles.scss */
a:hover {
  text-decoration: none; }

/* line 54, ../sass/subtheme-sample.styles.scss */
a:active {
  text-decoration: none; }

/* line 58, ../sass/subtheme-sample.styles.scss */
.site-name > a > span {
  color: darkgoldenrod; }

/* line 62, ../sass/subtheme-sample.styles.scss */
.l-header > .l-branding > a > img {
  display: none; }

/* line 66, ../sass/subtheme-sample.styles.scss */
.breadcrumb {
  color: darkblue; }

/* line 70, ../sass/subtheme-sample.styles.scss */
.breadcrumb > span {
  color: black; }

/* line 74, ../sass/subtheme-sample.styles.scss */
.announcement > h2 {
  color: darkgoldenrod; }

/* line 78, ../sass/subtheme-sample.styles.scss */
body > div.l-page.has-two-sidebars.has-sidebar-first.has-sidebar-second > div > div > div.contextual-links-region > div.panel-flexible.panels-flexible-3.clearfix > div > div.panels-flexible-row.panels-flexible-row-3-main-row.panels-flexible-row-last.clearfix > div > div > div > div > h2 {
  color: darkgoldenrod; }

/* line 82, ../sass/subtheme-sample.styles.scss */
body > div.l-page.has-two-sidebars.has-sidebar-first.has-sidebar-second > div > div > h1 {
  color: goldenrod; }

/* line 86, ../sass/subtheme-sample.styles.scss */
#block-system-navigation > h2 {
  color: darkgoldenrod; }

/* line 90, ../sass/subtheme-sample.styles.scss */
.main-nav > .main-link > a {
  border-radius: 25px;
  border: 2px solid darkgoldenrod;
  padding: 2px; }

/*# sourceMappingURL=subtheme-sample.no-query.css.map */
